#container {
  margin-top: 80px;
}
#loginPaper {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 500px;
  margin-top: 90px;
  margin: auto;
}

#loginTitle {
  color: #0096ff;
  text-align: center;
  margin: auto;
}

form {
  width: 90%;

  align-items: right;
  text-align: right;
  margin: auto;
  text-align: center;
}

.divider {
  height: 35px;
}

#loginLogo {
  width: 60px;
  height: 60px;
  
}
