/*#actionsContainer {
    display: flex;
    justify-content: flex-end;
    height: 500px;
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}*/
#actionsPaper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 300px;
    margin: auto;
}
#actionsForm {
    width: fit-content;
    border: none;
    margin: auto;
    margin: 10px 0;
}

#actionsTitle {
    color: pink;
    text-align: center;
    margin: auto;
}

#divider {
    border: 0;
    border-bottom-width: 0;
    visibility: hidden;
}
