
#alertContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
   
}

#alertPaper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
height: 80px;
width: 300px;
margin-bottom: 50px;

}