.MuiContainer {
  position: sticky;
  height: 50px;
  width: inherit;
}

#navbar {
  padding-bottom: 50px;
  height: 5px;
}
#navbarAppBar {
  float: left;
}

#navbarToolbar {
  float: right;
}

#logo {
  height: 60px;
  width: 60px;
}

#navbarName {
  margin-right: 30px;
}
