.MuiContainer {
    top: 50px;
    position: sticky;
}
#navbarAppBar {
    float: left;
    margin-left: 40px;
    
}


#navbarToolbar {
   float: right;

}

#logo {
    height: 60px;
    width: 60px;
    
  }

  #navbarName {
    margin-right: 30px;
  }